@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Regular.ttf') format('truetype');
}

body{
    text-align: center;
    font-family: 'Poppins';
    background-color: #6ca4b3;
}